table {
  width: 100%;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

tfoot {
  text-align: right;
}

button {
  cursor: pointer;
}

.active {
  font-weight: bolder;
  background-color: #FFF;
}
